.sidebar {
	position: absolute;
	top: 70px;
	display: flex;
	flex-direction: column;
	width: 165px;
	color: white;
	font-size: 12px;
	padding: 5px;
}
.sidebar div:not([class="underline"]) {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	padding: 4px 8px;
}
.sidebar div svg {
	margin-right: 10px;
	color: cornflowerblue;
}
.sidebar div:not([class="underline"]):hover {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 4px;
}
.sidebar .underline {
	height: 20px;
	margin-left: 38px;
	position: relative;
}
.sidebar .underline::before,
.sidebar .underline::after {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 1px;
  width: 95%; 
  background-color: rgba(255, 255, 255, .2)
}
.left-scroll {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 60px;
	bottom: 0;
	width: 80px;
	padding-top: 10px;
	color: rgba(219, 211, 255, 0.3);
	font-size: 12px;
	cursor: pointer;
	transition: all 0.25s linear;
}
.left-scroll:hover {
	background-color: rgba(0, 0, 0, .5);
	color: rgb(200, 200, 200);
}